@page "/see-chat/{ToUserId:guid}"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@inherits  Razor_Page_Behind_Code_Source.UserChat.SeeChatCodeSource


<h1>ToUserId : @ToUserId</h1>


<input @bind="SendMessageModel.Text"/>
<button class="btn btn-primary" type="submit" @onclick="SendTextMessage">Send</button> 


@if (Messages.Count > 0)
{
    foreach (var message in Messages)
    {
        <h3>Message : @message.Text</h3>
    }
}
else
{
    <h2> Hozircha sizda habarlar yoq</h2>
}
